<%= simple_form_for (@boat) do |f| %>
<% if @boat.errors.any? %>
<div class="errors-container">
  <ul>
    <% @boat.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class = "form-group field-group">
  <%= f.input :name, class: 'form-control', label: false, placeholder: "name" %>
  <%= f.input :category, class: 'form-control', label: false, placeholder: "category" %>
  <%= f.input :description, class: 'form-control', label: false, placeholder: "description" %>
  <%= f.input :price, class: 'form-control', label: false, placeholder: "price" %>
  <%= f.input :capacity, class: 'form-control', label: false, placeholder: "capacity" %>

<br>
<%= f.submit class: 'btn btn-primary', id: "ha" %>
<% end %>
