
<div class="cont">
  <%= simple_form_for(boat) do |f| %>
  <% if boat.errors.any? %>
  <div class="errors-container">
    <ul>
      <% boat.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.input :name, input_html: {class: 'form-control'}, label: false, placeholder: "name" %>
    <%= f.input :description, input_html: {class: 'form-control'}, label: false, placeholder: "description" %>
    <%= f.input :category, input_html: {class: 'form-control'}, label: false, placeholder: "category" %>
    <%= f.input :city, input_html: {class: 'form-control'}, label: false, placeholder: "city" %>
    <%= f.input :price, input_html: {class: 'form-control'}, label: false, placeholder: "price" %>
    <%= f.input :capacity, input_html: {class: 'form-control'}, label: false, placeholder: "capacity" %>
    <%= f.input :photo,input_html: {class: 'form-photo'}, label: false%>
    <%= f.input :photo_cache, as: :hidden %>
  </div>
  <br>
  <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>


