


<div class="banner-content">
  <%= video_tag "boat_reel.mp4", width:"140", height: "720", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video"  %>
  <%= render 'shared/flashes' %>

  <h1>Captain142</h1>
  <p>Vacations by the sea, rent a local's boat!</p>

  <div class="home-search">
  <%= form_tag boats_path, method: :get do %>
    <%= text_field_tag :location,
      params[:location],
      class: "form-control", id: 'button',
      placeholder: "What's your next destination?"
    %>
  <% end %>
  </div>
</div>


<div class="landing-bottom">
  <div class="header-home">
    <h1>Most popular boats</h1>
  </div>
  <div class="home-space">
    <%= render 'shared/carrousel', boats: @boats %>
  </div>
</div>




