<h1>All boats</h1>

<div class="boat-container">

<div class=container>
  <div class="row">
    <% @all_boats.each do |boat| %>
    <div class="col-md-4">
      <div class="card">
        <% unless boat.photo.blank? %>
        <div class="card-body flat-card_images" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url('<%= cl_image_path boat.photo, height: 300, width: 400, crop: :fill %>')">
        <h4 class="card-boat-name"><%= link_to boat.name, boat_path(boat)%></h4>
      </div>
      <% else %>
      <div class="card-body flat-card_images" style="background-image: url('https://images.unsplash.com/photo-1505159940484-eb2b9f2588e2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=049ea2defdc21889ecda0e93a7eecf05&auto=format&fit=crop&w=1050&q=80')">
        <h4><%= link_to boat.name, boat_path(boat)%></h4>
      </div>
      <% end %>
            <!-- <div class="footer">
              <div class="details">
                <p><%= boat.category %></p>
                <p><%= boat.price %></p>
                <p><%= boat.city %></p>
              </div>
            </div> -->
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>">
  </div>

  </div>

  <div class="btn red-button">
    <%= link_to "Offer your boat for rent", new_boat_path %>
  </div>
</div>
