<div class="container">
  <div class="row">
    <div class="card col-xs-12 col-md-5">
      <img class="card boat-img" src="<%= cl_image_path @boat.photo, height: 300, width: 400, crop: :fill %>" alt="">
    </div>
    <div class="card col-xs-12 col-md-7 boat-description">
      <h2 class="boats-name"><%= @boat.name %></h2>
      <p class="boat-descriptions"><%= @boat.description %></p>
      <div>
        <ul class="list-inline">
          <li>
            <span><i class="fas fa-ship margin-icon"></i><%= @boat.category%></span>
          </li>
          <li>
            <span><i class="fas fa-map-marker-alt margin-icon"></i><%= @boat.city %></span>
          </li>
          <li>
            <span><i class="fas fa-money-bill margin-icon"></i><%= @boat.price %>€</span>
          </li>
          <li>
            <span><i class="fas fa-users margin-icon"></i><%= @boat.capacity %></span>
          </li>
        </ul>
      </div>
        <%= simple_form_for [@boat, @booking] do |f| %>
      <div class="date_form_picker">
        <input type="text" placeholder="Start Date" name="booking[start_date]" class="form-control datepicker">
        <input type="text" placeholder="End Date" name="booking[end_date]" class="form-control datepicker">
        <%= f.submit value: "Go", id: "date_picker_button"  %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h3><%=link_to "Back", boats_path, {class: "back-to-boats-button"}%></h3>
  </div>
  <div style="margin-top:30px;margin-bottom:0">
    <div class="line"></div>
  </div>
  <h2 class="review-header">Reviews</h2>

  <div class="row">
    <% @bookings.each do |booking| %>
      <% booking.reviews.each do |review| %>
      <div class="col-md-6">
        <div class="card-rating">
          <div class="reviews">
            <div class="review-content">
              <%= review.content %>
            </div>
            <div class="review-user">
              <%= booking.user.email %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
</div>

<%= javascript_pack_tag "datepicker" %>
