<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-5">
      <%= cl_image_tag @boat.photo, height: 300, width: 400, crop: :fill %>
      <h2 class=""><%= @boat.name %></h2>
    </div>
    <div class="col-xs-12 col-md-7 boat-description">
      <ul>
        <li>
          <%= @boat.city %>
          <li>
          <%= @boat.price %>
          </li>
          <li>
          <%= @boat.category%>
          </li>
          <li>
          <%= @boat.description %>
          </li>
          <li>
          <%= @boat.capacity %>
          </li>
        </li>
      </ul>
        <%= simple_form_for [@boat, @booking] do |f| %>
      <div class="date_form_picker">
        <input type="text" placeholder="Start Date" name="booking[start_date]" class="form-control datepicker">
        <input type="text" placeholder="End Date" name="booking[end_date]" class="form-control datepicker">
        <%= f.submit value: "Go", id: "date_picker_button"  %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h3 class=""><%=link_to "See all boats", boats_path%></h3>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <%= render "map" %>
    </div>
  </div>
</div>

<%= javascript_pack_tag "datepicker" %>
